<h1>Welcome to The Matrix Kung Fu Trainer!</h1>
<h3>Please log in to access your account</h3>
<form action="/users/homepage" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" required><br>
  <label for="password">Password:</label>
  <input type="password" name="password" required><br>
  <input type="submit" name="Log In">


<h4>Don't have an account? Click <a href="/registrations/signup">here</a>!</h4>

</form>
