<h1>Welcome to The Matrix Kung Fu Trainer!</h1>


<h4>Don't have an account? Sign up <a href="/registrations/signup">here</a>!</h4>
<h4>Don't have an account? Login <a href="/sessions/login">here</a>!</h4>

</form>
